<nav>
    <div class="nav-container">
        <ul>
            <li><a href="index.html"><i class="fa-solid fa-house"></i>Home</a></li>
            <li><a href="publications.html"><i class="fa-solid fa-book-open"></i>Publications</a></li>
            <li><a href="assets/Resume.pdf" target="_blank"><i class="fa-solid fa-file-pdf"></i>Resume</a></li>
            <li class="dropdown">
                <a href="javascript:void(0)"><i class="fa-solid fa-globe"></i>More Research</a>
                <div class="dropdown-content">
                    <a href="https://amrl.cs.utexas.edu/" target="_blank">AMRL @ UT Austin <i
                            class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    <a href="https://ldos.utexas.edu/" target="_blank">LDOS Expedition <i
                            class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    <a href="https://sites.utexas.edu/nsf-gcr/" target="_blank">NSF-GCR <i
                            class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </li>
        </ul>
    </div>
</nav>